@page
@model EventManagement.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].RegisteredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RegistrationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RegistrationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RegistrationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
