@page "{id?}"
@using System.Security.Claims
@using EventManagement.Enums
@using EventManagement.Helpers
@model EventManagement.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1> *@

<div class="container pt-4 px-5">
    <div class="mb-3">
        @{
            string color = Model.CurrentUser.Role switch
            {
                "admin" => "danger",
                "organizer" => "primary",
                "attendee" => "success",
                _ => "secondary",
            };
        }
        <h3>
            @Model.CurrentUser.Name
            <span class="badge bg-@color">@Model.CurrentUser.Role</span>
        </h3>
        @if (User.IsAdmin())
        {
            <p>Created At: @Model.CurrentUser.CreatedAt!.Value.ToLongDateString()</p>
        }

        <div>
            Email address: <a class="text-decoration-none" href="mailto:@Model.CurrentUser.Email">@Model.CurrentUser.Email</a>
        </div>

        <div>
            @if (User.IsAdmin() || User.GetCurrentUserId() == Model.CurrentUser.UserId)
            {
                <a asp-page="./Edit" asp-route-id="@Model.CurrentUser.UserId">Edit User Details</a>
            }
            @if (User.IsAdmin())
            {
                Write("| ");
                <a asp-page="./Index">Back to List</a>
            }
        </div>
    </div>
    @if (Model.CurrentUser.Role == UserRoles.Admin || Model.CurrentUser.Role == UserRoles.Organizer)
    {
        <hr />
        <div class="mb-3">
            <div class="d-flex align-items-center gap-2">
                <h4>Events Managed</h4>
                <a asp-page="/Events/Manage">Manage your events</a>
            </div>
            <ul>
                @foreach (var e in Model.ManagedEvents)
                {
                    <li><a class="text-decoration-none" asp-page="/Events/Details" asp-route-id="@e.EventId">@e.Title</a></li>
                }
            </ul>
        </div>
    }
    @if (User.IsAdmin() || User.GetCurrentUserId() == Model.CurrentUser.UserId)
    {
        <hr />
        <div class="mb-3">
            <h4>Participated Events</h4>
            @if (Model.RegisteredEvents.Count == 0)
            {
                <div class="text-muted">No event participated.</div>
            }
            else
            {
                <ul>
                    @foreach (var e in Model.RegisteredEvents)
                    {
                        <li><a asp-page="/Events/Details" asp-route-id="@e.EventId">@e.Title</a></li>
                    }
                </ul>
            }
        </div>
    }
</div>
