@page
@using System.Security.Claims
@using EventManagement.Helpers
@model EventManagement.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1> *@

<div class="container pt-4 px-5">
    @* <h4>User</h4> *@
    @* <hr /> *@
    @* <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CreatedAt)
        </dd>
    </dl> *@
    <div class="mb-3">
        @{
            string color = Model.User.Role switch
            {
                "admin" => "danger",
                "organizer" => "primary",
                "attendee" => "success",
                _ => "secondary",
            };
        }
        <h3>
            @Model.User.Name
            <span class="badge bg-@color">@Model.User.Role</span>
        </h3>
        @if (User.IsAdmin())
        {
            <p>Created At: @Model.User.CreatedAt.Value.ToLongDateString()</p>
        }

        <div>
            Email address: <a href="#">@Model.User.Email</a>
        </div>

        <div>
            @if (User.IsAdmin() || User.GetCurrentUserId() == Model.User.UserId)
            {
                <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit User Details</a>
            }
            @if (User.IsAdmin())
            {
                Write("| ");
                <a asp-page="./Index">Back to List</a>
            }
        </div>
    </div>
    @if (User.IsAdmin() || User.GetCurrentUserId() == Model.User.UserId)
    {
        <hr />
        <div class="mb-3">
            <h4>Registered Events</h4>
            @if (Model.Events.Count == 0)
            {
                <div class="text-muted">No event registered.</div>
            }
            else
            {
                <ul>
                    @foreach (var e in Model.Events)
                    {
                        <li><a asp-page="/Events/Details" asp-route-id="@e.EventId">@e.Title</a></li>
                    }
                </ul>
            }
        </div>
    }
</div>
